/*
   ******************
         COMMON
   ******************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url(img/hero.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 20px;
    color: #0084b4;
    text-rendering: optimizeLegibility;
}

.error {
    color: red;
}

.info {
    color: #3498db;
}

.hidden {
    display: none;
}

.message {
    border-radius: 30px;
    border: 3px;
    border-style: ridge;
    border-color: #3498db;
    background-color: white;
    max-width: 650px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
}

.content-div {
    text-align: center;
}

h1 {
    color: #fff;
    text-align: center;
}

.filter {
    margin-left: 1150px;
    margin-top: 10px;
    width: 260px;
    position: fixed;
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: ridge #555;
}

/*
   ******************
         POST
   ******************
*/

.post {
    width: 250px;
    margin-left: 80px;
    position: fixed;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.text-input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.text-area {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    resize: none;
    height: 80px;
}

.elements {
    margin-left: 10px;
}

/*
   ******************
         NEWS
   ******************
*/

.news-table {
    color: #0084b4;
    background-color: white;
    border: 2px solid black;
    height: 150px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.news-header {
    text-align: center;
    height: 20px;
}

.news-main {
    vertical-align: top;
}

.time {
    color: black;
    vertical-align: top;
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
}

.content {
    color: black;
    font-style: italic;
    padding-left: 10px;
    padding-top: 10px;
}

.title {
    font-size: 28px;
    color: white;
    background-color: #0084b4;
    width: 70%;
    border: 2px solid #00aced;
}

.tags-td {
    text-align: center;
}

/*
   ******************
       BUTTONS
   ******************
*/

.btn {
    color: #0084b4;
    margin-top: 10px;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 100px;
    border: 2px;
    border-style: ridge;
    background-color: transparent;
    border-color: #0084b4;
}

.btn:active,
.btn:hover {
    color: #fff;
    background-color: #0084b4;
    transition: background-color 0.5s;
    transition: color 0.5s;
    cursor: pointer;
}

.btn-back {
    margin-left: 0px;
    text-decoration: none;
    background-color: #0084b4;
    color: white;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.btn-back:hover,
.btn-back:active {
    background: #1dcaff;
    color: black;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.button-div {
    text-align: center;
}

.btn-stat {
    margin-left: -15px;
}

.image-button {
    cursor: pointer;
}

/*
   ******************
         TABLE
   ******************
*/
.content-table {
    margin-top: 60px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

.content-table th {
    border: 2px solid black;
    text-align: center;
    background-color: black;
    color: #FFF;
    font-size: 22px;
    font-weight: bolder;
    padding: 4px 30px 4px 8px;
}

.content-table td {
    border: 2px solid black;
    padding: 4px 8px;
}

.content-table tr:nth-child(odd) td {
    background-color: #0084b4;
    color: white;
}

.content-table tr:nth-child(even) td {
    background-color: white;
    color: black;
}